.avatar {
    width: 120px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid #ecf0f1;
    position: relative; 
}

.chat {
    display: flex;
    flex-direction: row;
    padding: 15px 10% 15px 15%;
    border-bottom: 1px solid rgba(51,51,51,.1);
}

.chat div {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 5%;
    font-size: 1.5em;
}

.chat:hover {
    background-color: whitesmoke;
    cursor: pointer;
    transition: background-color .05s;
}

@media (max-width: 600px) {
    .avatar {
        width: 80px;
    }

    .chat {
        padding-left: 10%;
        padding-right: 10%;
    }

    .chat div {
        font-size: 1.3em;
    }
}