.container {
    margin: 0;
    background-color: #e5ddd5;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.avatar {
    width: 80px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #ecf0f1;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

.title {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 999;
    margin: auto;
    background-color: #3498db;
    text-shadow: #2084c7 1px 1px 0;
    padding: 16px 0 !important;
    color: white;
    text-align: center;
    font-family: "Lato";
    font-size: 1.8em
}

.title button {
    background-color: #3498db;
    cursor: pointer;
    border: none;
    padding-left: 5%;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

}

.title button i {
    color: #fff;
    font-size: 1.8em;
}

.body {
    height: 100%;
    overflow-y: auto;
    padding: 20px 0 10px;
    margin:0;
}

.footer {
    width:95%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    margin-bottom:5px;
}

.footer textarea {
    width: 100%;
    border:none;
    padding:10px 20px;
    font-size: 1em;
    border-radius: 20px;
    margin-right: 10px;
    resize: none;
}

.footer textarea:focus-visible {
    outline: none !important;
    border: none;
}

.send {
    border:none;
    background-color:#2f8fcf;
    cursor: pointer;
    padding-left: 0.5em;
    padding-right: 0.8em;
    border-radius: 50%;
}

.send:active {
    background-color: #abd9f8;
}

.send i {
    color: #fff;
    font-size: 1.8em;
}

.bubbleLeft {
    list-style: none;
    margin:15px 0;
    width: 100%;
    padding: .5em 1em;
    line-height: 1.4em;
    padding: 20px;
    background-color: #fff;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: left;
    display: inline-block; 
}

.bubbleContainerLeft {
    width: 75%;
    display: block;
    position: relative;
    padding-left: 30px;
    vertical-align: top;
    display: inline-block; 
}

.arrowLeft {
    content: '';
    display: block;
    position: absolute;
    left: -20px;
    top: 8px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 20px solid #fff; 
}

.bubbleContainerRight {
    width: 75%;
    display: block;
    position: relative;
    padding-right:30px;
    vertical-align: top;
    display: inline-block;
    float: right;
}

.bubbleRight {
    list-style: none;
    margin: 5px 0;
    width: 100%;
    padding: .5em 1em;
    line-height: 1.4em;
    padding: 20px;
    background-color: #ecf0f1;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    text-align: right;
    display: inline-block; 
}

.arrowRight {
    content: '';
    display: block;
    position: absolute;
    right: -20px;
    top: 8px;
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 20px solid #ecf0f1;
}

@media (max-width: 600px) {
    .avatar {
        width: 60px;
        margin-left:0;
        margin-right: 10px;
    }

    .title {
        font-size: 1.4em;
    }
}